.container {
  padding-top: 20px;
}

.card_img {
  text-align: center;
}

.img {
  width: 350px;
  height: 350px;
}

.title {
  text-align: center;
}

.title h4 {
  font-size: 18px;
  line-height: 32px;
}

.bodytext {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.card_more {
  padding: 8px 16px;
  margin-top: 20px;
  background-color: rgba(251, 140, 0, 0.1);
  border-radius: 16px;
}

.card_more_wh {
  display: flex;
  justify-content: space-between;
}

.card_more_wh p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
